@use '@/styles/settings' as *;
@use '@/styles/utils' as *;

.wrapper {
    align-items: center;
    background: $midnight;
    display: flex;
    gap: $base-spacing * 10;
    justify-content: center;
    min-height: 70vh;

    @include breakpoint(laptop) {
        gap: $base-spacing * 5;
    }

    @include breakpoint(tablet-l) {
        align-items: flex-start;
        flex-direction: column-reverse;
        gap: $base-spacing * 2;
        padding: var(--gutter-navbar);
        min-height: unset;
    }
}

.content {
    color: $white;
    max-width: 40%;

    @include breakpoint(laptop-l) {
        max-width: 50%;
    }

    @include breakpoint(tablet-l) {
        max-width: 100%;
    }
}

.image {
    flex: 1 1 450px;
    max-width: 450px;

    @include breakpoint(laptop-l) {
        max-width: 350px;
    }

    @include breakpoint(tablet-l) {
        width: 250px;
        height: 250px;
        flex: 0;
    }
}